---
title: "Custom Domain CNAME for Domain Verification"
domain: chatterapi
topic: custom-domain-cname-for-domain-verification
apiVersion: 67.0
release: summer-26-v67
docType: developer-guide
lastCollected: 2026-03-12T09:34:18.150Z
estimatedTokens: 187
keywords: [Custom, Domain, CNAME, Verification, canonical, record, that’s, verify, ownership]
---

# Custom Domain CNAME for Domain Verification

> The canonical name (CNAME) record that’s used to verify ownership of a custom
    domain.

# Custom Domain CNAME for Domain Verification

The canonical name (CNAME) record that’s used to verify ownership of a custom domain.

| Property Name | Type | Description | Filter Group and Version | Available Version |
| --- | --- | --- | --- | --- |
| alias | String | Alias hostname to use in the name element of the CNAME record for this custom domain. | Small, 63.0 | 63.0 |
| value | String | String to use in the value element of the CNAME record for this custom domain. | Small, 63.0 | 63.0 |

#### See Also

-   [Custom Domain Expected CNAME](atlas.en-us.chatterapi.meta/chatterapi/connect_resources_custom_domain_expected_cname.htm "Get values for the canonical name (CNAME) record that’s used to verify ownership of a custom domain.")

## Related Topics

- Custom Domain Expected CNAME (atlas.en-us.chatterapi.meta/chatterapi/connect_resources_custom_domain_expected_cname.htm)
