---
title: "Create Application Form Party Identity Verification"
domain: omnistudio
topic: create-application-form-party-identity-verification
apiVersion: 67.0
release: summer-26-v67
docType: developer-guide
lastCollected: 2026-03-11T15:25:09.249Z
keywords: [Create, Application, Form, Party, Identity, Verification]
---

# Create Application Form Party Identity Verification

# Create Application Form Party Identity Verification

Output representation of the request to create the application form party identity verification.

| Property Name | Type | Description | Filter Group and Version | Available Version |
| --- | --- | --- | --- | --- |
| partyIdentity​VerificationId | String | ID of the party identity verification to provide details about the identity verification checks done for a party. | Small, 61.0 | 61.0 |
| partyIdentity​Verification​Step | String[] | ID of the party identity verification step to provide details about the identity verification done for a party. | Small, 61.0 | 61.0 |