---
title: "Feedback About Submission Verification"
domain: packagingGuide
topic: feedback-about-submission-verification
apiVersion: 67.0
release: summer-26-v67
docType: help-article
lastCollected: 2026-03-12T09:35:21.241Z
estimatedTokens: 512
keywords: [Feedback, Submission, Verification, stage, check, security, review, includes, everything, necessary, start, technical, testing, falls, three]
---

# Feedback About Submission Verification

> During the submission verification stage, we check that your security review submission
  includes everything necessary to start technical testing. Feedback during this stage falls into
  three categories.

# Feedback About Submission Verification

During the submission verification stage, we check that your security review submission includes everything necessary to start technical testing. Feedback during this stage falls into three categories.

-   Credentials and test environments: There’s an issue with an org or test environment in your submission, such as expired authentication credentials or an invalid access URL for a web app or service. Check the information entered on the Provide Environments step in the security review wizard. Update as needed.
-   Documentation: A required document, such as false-positives documentation, is missing from your submission. To revise what you included, go to the Upload Documentation step in the security review wizard.
-   Orgs and packages: Something’s not quite right with an org or package in your submission. Perhaps you submitted a packaging org instead of a test org or the test org contains a different package version than the one you submitted. Review the feedback and address all action items.

When the review team posts verification feedback, you have options for how to proceed. In most cases, you must update your submission then resubmit for review. At other times, the best path forward isn’t clear. Check the What happens next? (1) and Opportunities (2) sections of the page for guidance. If you disagree with any of the verification feedback, request a second look (3).

![A screenshot of the security review wizard’s Overview page highlighting the What happens next?, Opportunities, and second look sections](/docs/resources/img/en-us/260.0?doc_id=appexchange%2Fsecurity_review%2Fimages%2Fsecurity_review_overview_returned.png&folder=packagingGuide)

#### See Also

-   [Create Your AppExchange Listing](atlas.en-us.packagingGuide.meta/packagingGuide/appexchange_publish_listings.htm "Market your solution or consulting service to Salesforce customers with a listing on AppExchange. Use the Listing Builder in the Partner Console to create a listing that stands out to customers.")

## Related Topics

- Create Your AppExchange Listing (atlas.en-us.packagingGuide.meta/packagingGuide/appexchange_publish_listings.htm)
