---
title: "Pharmacy Benefits Verification"
domain: life-sciences-dev-guide
topic: pharmacy-benefits-verification
apiVersion: 67.0
release: summer-26-v67
docType: developer-guide
lastCollected: 2026-04-07T09:04:07.995Z
estimatedTokens: 285
keywords: [Pharmacy, Benefits, Verification, uses, data, model, that’s, FHIR-CARIN, NCPDP, aligned, store, interoperable, supports, drug, manufacturers]
---

# Pharmacy Benefits Verification

> Pharmacy Benefits Verification uses a data model that’s FHIR-CARIN and NCPDP aligned to
  store its data and make it interoperable. The pharmacy benefits verification data model supports
  drug manufacturers, providers, pharmacists, and life sciences organizations in determining
  pharmacy benefits coverage for the medications prescribed to the patients under a care program.

# Pharmacy Benefits Verification

Pharmacy Benefits Verification uses a data model that’s FHIR-CARIN and NCPDP aligned to store its data and make it interoperable. The pharmacy benefits verification data model supports drug manufacturers, providers, pharmacists, and life sciences organizations in determining pharmacy benefits coverage for the medications prescribed to the patients under a care program.

| Available in: Lightning ExperienceAvailable in: Enterprise and Unlimited Editions with Life Sciences or Health Cloud |
| --- |


The pharmacy benefits verification objects are available to users with the Health Cloud Starter and Manage Pharmacy Benefits Verification permission set. Available in API version 61.0 and later.

![Pharmacy benefit verification entity relationship diagram](/docs/resources/img/en-us/260.0?doc_id=dev_guides%2Flife_sciences%2Fimages%2Flsc_pharmacy_benefits_verification_erd.png&folder=life_sciences_dev_guide)

For more details and a larger image, visit the [Data Model Gallery](https://developer.salesforce.com/docs/platform/data-models/guide/pharmacy-benefits-verification.html "HTML (New Window)").
